# SPDX-FileCopyrightText: 2021-2026 Friends Of OpenPGP organization <info@foopgp.org>
# SPDX-License-Identifier: GPL-3.0-only

*_samples/
man/*.1
man/*.1.gz
man/*/*.1
man/*/*.1.gz
man/*.draft
man/*/*.draft
_build/
po/*.mo
